[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/vendor/start/ale"]
	path = vim/pack/vendor/start/ale
	url = https://github.com/dense-analysis/ale
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "cmdtime"]
	path = shell/plugins/cmdtime
	url = https://github.com/tom-auger/cmdtime
[submodule "tmux/plugins/tmp"]
	path = tmux/plugins/tmp
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/tmux-prefix-highlight"]
	path = tmux/plugins/tmux-prefix-highlight
	url = https://github.com/tmux-plugins/tmux-prefix-highlight.git
[submodule "tmux/plugins/tmux-pomodoro-plus"]
	path = tmux/plugins/tmux-pomodoro-plus
	url = https://github.com/olimorris/tmux-pomodoro-plus.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-battery"]
	path = tmux/plugins/tmux-battery
	url = https://github.com/tmux-plugins/tmux-battery.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "vim/pack/vendor/opt/ctrlp.vim"]
	path = vim/pack/vendor/opt/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/pack/vendor/start/vim-polyglot"]
	path = vim/pack/vendor/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/vendor/start/vim-tmux-navigator"]
	path = vim/pack/vendor/start/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim/pack/colors/opt/sonokai"]
	path = vim/pack/colors/opt/sonokai
	url = https://github.com/sainnhe/sonokai.git
[submodule "vim/pack/colors/opt/vim-monokai-pro"]
	path = vim/pack/colors/opt/vim-monokai-pro
	url = https://github.com/phanviet/vim-monokai-pro.git
[submodule "shell/plugins/zsh-interactive-cd"]
	path = shell/plugins/zsh-interactive-cd
	url = https://github.com/changyuheng/zsh-interactive-cd.git
[submodule "vim/pack/vendor/opt/denops.vim"]
	path = vim/pack/vendor/opt/denops.vim
	url = https://github.com/vim-denops/denops.vim.git
[submodule "vim/pack/vendor/opt/denops-helloworld.vim"]
	path = vim/pack/vendor/opt/denops-helloworld.vim
	url = https://github.com/vim-denops/denops-helloworld.vim.git
[submodule "vim/pack/vendor/opt/ddc.vim"]
	path = vim/pack/vendor/opt/ddc.vim
	url = https://github.com/Shougo/ddc.vim.git
[submodule "vim/pack/vendor/opt/ddc-around"]
	path = vim/pack/vendor/opt/ddc-around
	url = https://github.com/Shougo/ddc-around.git
[submodule "vim/pack/vendor/opt/AutoComplPop"]
	path = vim/pack/vendor/opt/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop.git
[submodule "vim/after/ftplugin/pydiction"]
	path = vim/after/ftplugin/pydiction
	url = https://github.com/rkulla/pydiction.git
[submodule "vim/pack/vendor/start/lightline.vim"]
	path = vim/pack/vendor/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "shell/fzf-git.sh"]
	path = shell/fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/pack/vendor/opt/syntastic"]
	path = vim/pack/vendor/opt/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/pack/vendor/start/fzf"]
	path = vim/pack/vendor/start/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/pack/vendor/start/fzf.vim"]
	path = vim/pack/vendor/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/vendor/start/lightline-ale"]
	path = vim/pack/vendor/start/lightline-ale
	url = https://github.com/maximbaz/lightline-ale.git
[submodule "vim/pack/vendor/start/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "shell/zsh-autosuggestions"]
	path = shell/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
